@import "./contact";
@import "./footer";
@import "./about";
@import "./home";
@import "./nav";
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(portfolioback.jpg) 100vw 100vh fixed;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
